/********************************
 *			GENERAL
 ********************************/

html, body {
    height: 100%;
    background-color: #333;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}


a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/********************************
 *			CAROUSEL
 ********************************/

[data-carousel-3d] {
	background: none;
	border: none;
}

[data-carousel-3d]:before {
    padding: 15%;
}

[data-carousel-3d] [data-prev-button]:before {
  content: "Previous";
  color: #ffffff;
}

[data-carousel-3d] [data-next-button]:before {
  content: "Next";
  color: #ffffff;
}


/********************************
 *          DESCRIPTION
 ********************************/

.description {
    color: #ffffff;
    padding-bottom: 35px;
}

a:link, a:visited, a:hover, a:active {
    color: #0084FF;
}

.description a {
    display: inline-block;
    padding: 5px;
    border: 1px solid transparent;
}

a:hover {
    border-top-color: #0084FF;
    border-bottom-color: #0084FF;
}


/********************************
 *			FOOTER
 ********************************/

 .footer a {
    color: #ffffff;
 }

.footer a:hover {
	color: #0084FF;
}