body {
    background-color: darkslategray;
    transition: background-color 1s ease;
}

p {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}